// Navbar.scss

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// variables

$clr-BlackEel: #F7F7F7;
$clr-Desert-Storm: #424040;
$clr-yello: #f5bc04;
$fnt-base: 'Poppins', sans-serif;
$clr-white: #fff;
$clr-black: #000;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}

body {

    font-family: $fnt-base;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

// .text {
//     text-align: center;
// }


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;

    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;

    }
}

/* flexbox */
.flex {
    display: flex;
    align-items: center;

    &-column {
        flex-direction: column;
    }

    &-center {
        justify-content: center;
    }

    &-between {
        justify-content: space-between;
    }

    &-start {
        justify-content: flex-start;
    }

    &-end {
        justify-content: flex-end;
    }
}


/* height and width */
.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

/* font weights */
.fw {
    &-1 {
        font-weight: 100;
    }

    &-2 {
        font-weight: 200;
    }

    &-3 {
        font-weight: 300;
    }

    &-4 {
        font-weight: 400;
    }

    &-5 {
        font-weight: 500;
    }

    &-6 {
        font-weight: 600;
    }

    &-7 {
        font-weight: 700;
    }

    &-8 {
        font-weight: 800;
    }

    &-9 {
        font-weight: 900;
    }
}

/* common font sizes */
.fs {
    &-13 {
        font-size: 13px;
    }

    &-14 {
        font-size: 14px;
    }

    &-15 {
        font-size: 15px;
    }

    &-16 {
        font-size: 16px;
    }

    &-17 {
        font-size: 17px;
    }

    &-18 {
        font-size: 18px;
    }

    &-19 {
        font-size: 19px;
    }

    &-20 {
        font-size: 20px;
    }

    &-21 {
        font-size: 21px;
    }

    &-22 {
        font-size: 22px;
    }

    &-23 {
        font-size: 23px;
    }

    &-24 {
        font-size: 24px;
    }

    &-25 {
        font-size: 25px;
    }

    &-26 {
        font-size: 26px;
    }
}




// popup-box

.box {
    &-err {

        background-color: #ff6347;
        border: 1px solid #ff0000;
        color: #fff;
        padding: 5px;
        border-radius: 4px;
        max-width: 350px;
        margin: 1rem auto;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        position: relative;

        button {
            position: absolute;
            top: 8px;
            right: 15px;
            background: transparent;
            border: none;
            cursor: pointer;
            font-size: 16px;
            color: #fff;
        }

        h2 {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
        }

        p {
            margin: 5px 0;
            font-size: 14px;
        }
    }

    &-warn {
        @extend .box-err;
        background-color: yellow;
        border: 1px solid yellow;
        color: #000;

        button {

            color: #000;
        }


    }

    &-succes {
        @extend .box-err;
        background-color: green;
        border: 1px solid green;

    }

}



// input tag

.tag-container {

    min-width: 60%;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;

    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    text-align: center;

    .tag {
        color: whit;
        display: flex;
        align-items: center;
        padding: 8px;
        border: 1px solid gray;
        border-radius: 5px;
        height: 25px;

        margin: 2px 5px 2px 0px;
        background: rgb(151, 151, 151);

        span {
            cursor: pointer;
            margin-left: 5px;
        }

    }

    input {
        border: none;
        flex: 1;
        outline: none;
        margin-left: 5px;
    }

    @media screen and (max-width:370px) {
        display: block;

        input {
            width: 100%;

        }

    }


}



// addEditingBlog

.input-text-box {
    border: 1px solid gray;
}


.trending-div {
    @media screen and (max-width:370px) {
        display: block !important;

        .trending {
            margin: 0;
        }

        label {
            margin-left: 0 !important;
            padding: 0 !important;
            margin-right: 1rem !important;
        }
    }

}

.height {
    max-height: 200px;
    min-width: 250px;
    max-width: 400px;

    @media screen and (max-width:300px) {
        max-height: 200px;
        min-width: 10px;
        max-width: 280px;

    }

}

.catg-dropdown {
    width: 100%;
    border-radius: 4px;
    height: 45px;
    color: #806a78;

    &:focus {
        outline: none !important;
        border-color: $clr-yello;
    }

    option {
        width: 100%;
        text-align: center;
    }
}

.form-description {
    height: 150px;
    resize: none;
    padding-top: 20px !important;
    letter-spacing: 1px !important;
    border: 1px solid gray;
}

.btn-add {
    background: #bf7034 !important;
    color: #fff !important;
    padding: 10px 50px !important;
}


// blogSection

.blog-heading {
    font-size: 24px;
    color: #222;
    border-bottom: 1px solid #777;
}

.blogs-img {
    height: 200px;
    width: 100%;
    border-radius: 5px;


    // box-shadow: 0, 2px, 3px, 1px, rgba(0, 0, 0, 0);


    img {

        transition: all 0.5s ease-in;
        height: 200px;
        width: 100%;

        &:hover {
            transform: scale(1.1);
        }
    }

}

.category {
    display: inline-block;
    // position: relative;
    background-color: #4287f5;
    padding: 5px 8px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    border-radius: 4px;
}


.title {
    font-size: 17px;
    color: #222 !important;
    font-weight: 800;
    font-family: "Poppins";
    text-decoration: none;
    display: block;
}

.fa-trash-can {
    color: #c43421 !important;
}

.fa-pen-to-square {
    color: lightsalmon !important;
}

.meta-info {
    font-size: 15px;
    color: #222;
    display: block;
    font-family: "Poppins";
    text-decoration: none;

    .author {
        display: inline-block;
        font-weight: 600;
        font-size: 15px !important;
    }
}

.short-description {
    font-size: 14px;
    color: #777;
}

.btn-read {
    background: #544e66;
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 14px;
}

// details jsx
.single {
    margin-top: 10px;

    .blog-title-box {
        overflow: hidden;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-height: 700px;
            width: 100%;

        }

        h2 {
            position: absolute;
            bottom: 5%;
            color: white;
            text-align: center;
            font-size: 3rem;
            font-weight: 500;
            padding: 1rem;

        }

        @media screen and (min-width:1970px) {


            img {

                width: 100%;
            }

            h2 {
                width: 100%;
                font-size: 4rem;
            }

        }

        @media screen and (max-width:650px) {

            h2 {
                font-size: 2rem;

            }

        }

        @media screen and (max-width:350px) {

            h2 {
                font-size: 1.5rem;
                padding: .2rem;
            }

        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0%;
            left: 0;
            width: 100%;
            height: 50%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
            /* Adjust opacity and colors as needed */
            z-index: 188;
            /* Ensure it's positioned below the text */
        }

    }

    .meta-info {
        border-bottom: 2px solid gray;
        margin-bottom: 12px;
        padding-bottom: 12px;
    }

}

// spinner
.spinner {
    width: 3rem;
    height: 3rem;

}

.spinner-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



// tags...

.tags {
    text-decoration: none;
}

.tag {
    background: #f1f1f1;
    padding: 10px 15px;
    color: #222;
    margin-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all .5s;
    display: inline-block;

    @media screen and (min-width: 770px) and (max-width: 990px) {
        margin: 2px;
        color: red;
    }

    &:hover,
    &:focus {
        background: $clr-yello;
        color: #fff;
        text-decoration: none;
    }

}

// like btn page

.heart {
    animation: beat 1.2s ease-in;

}

@keyframes beat {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.3, 1.3);
    }

    100% {
        transform: scale(1, 1);
    }

}